@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  color: grey;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
}

img {
  width: 600px;
}

.buttons{
  display: flex;
  gap:5px;
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:5px;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display:flex;
  justify-content: space-between;
  gap: 20px;
}

.left-links,
.right-links{
  display: flex;
  gap: 15px;
}


.right-links{
  margin-left: auto;
  margin-right: 25px;
}

.footer {
  display:flex;
  justify-content: space-between;
  background-color: #eeeeee;
}

.content {
  display:flex;
  align-items: center;
  flex-direction:column;
}
